extends layout

block content
  script(src='/javascripts/stats.js')
  div(class="stat-tabs")
    button(class="stattablinks" onclick="refreshTable('QB')") QB
    button(class="stattablinks" onclick="refreshTable('RB')") RB
    button(class="stattablinks" onclick="refreshTable('WR')") WR
    button(class="stattablinks" onclick="refreshTable('TE')") TE
  div(class='stats')
    h2(class='stat-table-header')= "Quarter Backs"
    div(class='table', id='statDiv')
      table(class='stat-table', id='statTable')
        tr
          th Name
          th Team
          th Passing Yards
          th Passing Touchdowns
          th Passing Attempts
          th Passing Completions
          th Interceptions
        each player in data.Data
          tr
            td #{player.player_name}
            td #{player.player_team}
            td #{player.passing_yds}
            td #{player.passing_tds}
            td #{player.passing_att}
            td #{player.passing_cmp}
            td #{player.passing_int}
