extends layout

block content
  div(class='stats')
    h2(class='stat-table-header')= "Quarter Backs"
    div(class='table')
      table(class='stat-table')
        tr
          th Name
          th Team
          th Passing Yards
          th Passing Touchdowns
          th Passing Attempts
          th Passing Completions
          th Interceptions
        each player in data.Data
          tr
            td #{player.player_name}
            td #{player.player_team}
            td #{player.passing_yds}
            td #{player.passing_tds}
            td #{player.passing_att}
            td #{player.passing_cmp}
            td #{player.passing_int}
