extends layout

block content
  div(class='stats')
    - var player = data.Data[0]
    h2(class='stat-table-header', id='statTableHeader')= player.position
    case player.position
      when 'QB'
        div(class='table', id='statDiv')
          table(class='stat-table', id='statTable')
            thead
              tr
                th Name
                th Team
                th Position
                th Passing Yards
                th Passing Touchdowns
                th Passing Attempts
                th Passing Completions
                th Interceptions
                th Rushing Yards
                th Rushing Attempts
                th Total Yards
                th Total Attempts
            each player in data.Data
              - var totalYards = parseInt(player.passing_yds) + parseInt(player.rushing_yds)
              - var totalAtts = parseInt(player.passing_att) + parseInt(player.rushing_att)
              tr
                td #{player.player_name}
                td #{player.player_team}
                td #{player.position}
                td #{player.passing_yds}
                td #{player.passing_tds}
                td #{player.passing_att}
                td #{player.passing_cmp}
                td #{player.passing_int}
                td #{player.rushing_yds}
                td #{player.rushing_att}
                td #{totalYards}
                td #{totalAtts}
      default
        div(class='table', id='statDiv')
          table(class='stat-table', id='statTable')
            thead
              tr
                th Name
                th Team
                th Position
                th Rushing Yards
                th Rushing Touchdowns
                th Rushing Attempts
                th Receiving Yards
                th Receiving Touchdowns
                th Receiving Receptions
                th Total Yards
                th Total Attempts
                th Total Touchdowns
            each player in data.Data
              - var totalYards = parseInt(player.rushing_yds) + parseInt(player.receiving_yds)
              - var totalAtts = parseInt(player.rushing_att) + parseInt(player.receiving_rec)
              - var totalTouchdowns = parseInt(player.rushing_tds) + parseInt(player.receiving_tds)
              tr
                td #{player.player_name}
                td #{player.player_team}
                td #{player.position}
                td #{player.rushing_yds}
                td #{player.rushing_tds}
                td #{player.rushing_att}
                td #{player.receiving_yds}
                td #{player.receiving_tds}
                td #{player.receiving_rec}
                td #{totalYards}
                td #{totalAttempts}
                td #{totalTouchdowns}
